@{
    ViewData["Title"] = "Games";
}
<h2>Games</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Draw 3 Numbers</h5>
                <p class="card-text">A simple game where you bet chips and draw 3 numbers. All three equal -> you win double.</p>
                <a href="@Url.Action("NumberDraw", "Games")" class="btn btn-primary">Play</a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Draw 1 number</h5>
                <p class="card-text">Wage one nmuber between 1 and 9. If you hit you get double the tokens, if you fail you loose waged tokens</p>
                <a href="@Url.Action("SingleNumber", "Games")" class="btn btn-primary">Play</a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Roulette</h5>
                <p class="card-text">Draw a number based on various criteria.</p>
                <a href="@Url.Action("Index", "Roulette")" class="btn btn-primary">Play</a>
            </div>
        </div>
    </div>
</div>
